- let baseUrl = 'https://sallai.me';
- let coverUrl = cover || `${baseUrl}/images/social.png`;
- let favicon = `${baseUrl}/images/favicon.png`;

meta(charset='utf-8')
title=title
meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
meta(name="description", content=description)
link(rel="image_src", href=coverUrl)
meta(property="og:title", content=title)
meta(property="og:description", content=description)
meta(property="og:site_name", content="József Sallai")
meta(property="og:url", content=baseUrl)
meta(property="og:image", content=coverUrl)
link(rel="shortcut icon", href=favicon)
meta(http-equiv="Cache-control", content="public")
link(type="text/css", rel="StyleSheet", href="/main.css")
script(src='/bundle.js', defer=true)
